                                            ######################################
                                            #              Global                #
                                            ######################################
PUID=1000
PGID=1000
GUID=1000
TIMEZONE=Europe/Brussels
TZ=Europe/Brussels



                                            ######################################
                                            #              Hosts                 #
                                            ######################################
                                                            # Main hostname (example.com)
                                                            # so you won't need to write it each time
MAIN_DOMAIN=

WIKIJS_HOSTNAME=wiki
WIKIDB_HOSTNAME=wikidb
ADMINER_WIKI_HOSTNAME=sql
                                           ######################################
                                            #              Configs               #
                                            ######################################

DB_DATA=./wiki-db/

#  https://docs.requarks.io/install/docker#environment-variables
DB_TYPE=postgres
DB_HOST=${WIKIDB_HOSTNAME}
DB_PORT=5432
DB_USER=wikijs
DB_PASS=wikijsrocks
DB_NAME=wiki
#DB_SSL=
#DB_SSL_CA=

