version: '3.5'
services: 
  db:
    image: mariadb:10.5
    env_file: .env
    container_name: db
    hostname: db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    networks:
      - traefik
    expose:
      - 3306
    volumes:
      - ${MARIADB_CONFIG}:/var/lib/mysql

  nextcloud:
    image: nextcloud:apache
    env_file: .env
    container_name: nextcloud
    hostname: nextcloud #${NEXTCLOUD_HOSTNAME}
    labels:
      - traefik.enable=true
      - traefik.http.routers.nextcloud.rule=Host(`${NEXTCLOUD_HOSTNAME}.${MAIN_DOMAIN}`)
      - traefik.http.routers.nextcloud.tls.certresolver=lets-encrypt
      - traefik.http.routers.nextcloud.entrypoints=web-secure
      #- traefik.http.routers.nextcloud.middlewares=basic-auth@file
      - traefik.http.middlewares.cloud_redirectregex.redirectregex.regex=/.well-known/(card|cal)dav
      - traefik.http.middlewares.cloud_redirectregex.redirectregex.replacement=/remote.php/dav/
      - traefik.http.middlewares.cloud_headers.headers.customRequestHeaders.X-Forwarded-Proto=https
      #Enable Auto-Updates (Watchtower)
      #- com.centurylinklabs.watchtower.enable=true
      #Enable flame dashboard link
      - flame.type=application # "app" works too
      - flame.name=Nextcloud
      - flame.url=https://${NEXTCLOUD_HOSTNAME}.${MAIN_DOMAIN}
      #- flame.icon=icon-name # Optional, default is "docker"
    volumes:  
      - ${NEXTCLOUD_CONFIG}:/var/www/html
      - ${NEXTCLOUD_DATA}:/var/www/html/data
    networks:
      - traefik
    expose:
      - 80
    restart: unless-stopped

  cron:
    image: nextcloud:apache
    restart: always
    volumes:
      - ${NEXTCLOUD_CONFIG}:/var/www/html
      - ${NEXTCLOUD_DATA}:/var/www/html/data
    entrypoint: /cron.sh
    networks:
      - traefik
    depends_on:
      - db
      - redis_nextcloud
  
  redis_nextcloud:
    image: redis:alpine
    hostname: redis_nextcloud
    container_name: redis_nextcloud
    networks:
      - traefik
    restart: always

  adminer:
    image: adminer
    env_file: .env
    container_name: adminer
    hostname: adminer #${NEXTCLOUD_HOSTNAME}
    labels:
      - traefik.enable=true
      - traefik.http.routers.adminer.rule=Host(`${ADMINER_HOSTNAME}.${MAIN_DOMAIN}`)
      - traefik.http.routers.adminer.tls.certresolver=lets-encrypt
      - traefik.http.routers.adminer.entrypoints=web-secure
      #- traefik.http.routers.adminer.middlewares=basic-auth@file
      #Enable Auto-Updates (Watchtower)
      #- com.centurylinklabs.watchtower.enable=true
      #Enable flame dashboard link
      - flame.type=application # "app" works too
      - flame.name=adminer
      - flame.url=https://${ADMINER_HOSTNAME}.${MAIN_DOMAIN}
      #- flame.icon=icon-name # Optional, default is "docker"
    networks:
      - traefik
    expose:
      - 8080
    restart: unless-stopped
  
networks:
  traefik:
    external: true
    name: traefik  
    
