#################################### SMTP / Emailing #####################
[smtp]
enabled = true
host = 
user = 
# If the password contains # or ; you have to wrap it with triple quotes. Ex """#password;"""
password = 
#cert_file =
#key_file =
skip_verify = false
from_address = 
from_name = Grafana
#ehlo_identity =
#startTLS_policy =

[emails]
welcome_email_on_sign_up = true
templates_pattern = emails/*.html

